.wrap {
  width: 50% !important;
  margin-bottom: 2rem;
}

.search {
  display: flex;
  width: 100% !important;
}

.searchTerm {
  border: 3px solid var(--main-color);
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: var(--off-line-active);
  font-size: 3rem;
  width: 100% !important;
}

.searchTerm:focus {
  color: var(--line-active);
}

.searchButton {
  border: 1px solid var(--main-color);
  background: var(--main-color);
  text-align: center;
  color: var(--line-active);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.searchButton svg {
  height: 3rem;
  width: 3rem;
}

.errorHeader {
  color: red;
}

.recommendEmail {
  margin-top: 1rem;
  cursor: pointer;
}

.recommendHeader {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--line-active);
  margin-block: 0em;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: blue;
}
.recommendButton {
  color: #2a358f;
  background-color: transparent;
  padding: 0;
  vertical-align: middle;
  border: none;
}

.loadMoreButton{
  background-color: var(--main-color);
  cursor: pointer;
  color: #2a358f;
  border-radius: 2px;
  font-weight: bold;
  padding: 10px;
  font-size: 1rem;
  min-width: 7rem;
  min-height: 3rem;
  vertical-align: middle;
  margin: 1rem;
  border: 0;
}

@media (max-width: 767px) {
  .searchTerm {
    font-size: 1rem;
  }

  .searchButton svg {
    height: 2.5rem;
    width: 2.5rem;
  }

  .wrap {
    width: 90% !important;
  }
}
