.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F0F0F0;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
