.aboutContainer p {
    font-weight: bold;
    font-size: 1.1rem;
    max-width: 80%;
    margin: 10px auto;
}
.aboutContainer h1{
    color: var(--main-color);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 3rem;
}