.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}
.underTitle {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  text-align: center;
}
.HomePageNavBoxContainer {
  margin: 2rem auto;
}
.hotPicksHeader {
  color: var(--main-color);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 3rem;
}
