.Label {
  position: relative;
  top: 4px;
  height: 4rem;
  width: 4rem;
  display: inline-block;
  border: 5px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  border-left-color: var(--main-color);
  animation: rotate 0.8s linear infinite;
}

.smallLabel {
  position: relative;
  top: 4px;
  height: 1.5rem;
  width: 1.5rem;
  display: inline-block;
  border: 5px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  border-left-color: var(--main-color);
  animation: rotate 0.8s linear infinite;
}

.formLoader {
  height: 2rem;
  width: 2rem;
  border-left-color: #5e71af;
  animation: rotateFormLoader 0.8s linear infinite;
}

@keyframes rotate {
  50% {
    border-left-color: var(var(--off-main-color));
  }
  75% {
    border-left-color: var(--main-color);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateFormLoader {
  50% {
    border-left-color: #5e71af;
  }
  75% {
    border-left-color: #5e71af;
  }
  100% {
    transform: rotate(360deg);
  }
}
